@tailwind base;
@tailwind components;
@tailwind utilities;

.hero__img {
    width: 30rem;
}

.bg-gradient-custom {
    @apply bg-gradient-to-r from-blue-900 to-blue-500 text-white;
}

.pricing-card {
    height: 450px;
}

.pricing-card-main {
    height: 550px;
}

.btn {
    @apply uppercase font-bold px-10 py-4 rounded inline-flex;
}

footer {
    background-color: #061d36;
}

#menu-toggler {
    z-index: 999;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 2rem;
    right: 2rem;
    opacity: 0;
}

#menu-bars {
    position: absolute;
    top: 2.1rem;
    right: 2.1rem;
}

#menu-toggler:checked {
    position: fixed;
}

#menu-toggler:checked ~ .menu {
    display: flex;
    justify-content: center;
    padding: 2rem;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    @apply bg-gradient-to-r from-blue-900 to-blue-500;
    
}

#menu-toggler:checked ~ #menu-bars > .close {
    display: flex;
    z-index: 100;
    position: fixed;
    top: 2.1rem;
    right: 2.1rem;
}

#menu-toggler:checked ~ #menu-bars > .bars {
    display: none;
}