@tailwind base;
@tailwind components;
@tailwind utilities;


.hero__img {
    width : 30rem;
}


.bg-blue-custom {
    @apply bg-gradient-to-r from-blue-900 to-blue-500;
}

.pricing-card {
    height: 450px;
    @apply text-blue-900;
}

.pricing-card--main {
    height: 550px;
    @apply text-white;
}

.btn {
    @apply  py-4 px-10 uppercase font-bold rounded;
}

.btn-white {
    @apply border border-blue-900;
}

footer {
    background: #061d36;
}

#menu-toggler {
    z-index: 999;
    width: 50px;
    height: 50px;
    position: fixed;
    right: 1.5rem;
    top: 1.5rem;
    opacity: 0;
}


#menu-toggler:checked ~ .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: flex-start;
    padding-left: 2rem;
    @apply bg-gradient-to-r from-blue-900 to-blue-500;
    
}


.menu-bars {
    z-index: 100;
}



#menu-toggler:checked ~ .menu-bars > .la-times {
    display:flex;
}



#menu-toggler:checked ~ .menu-bars > .la-bars {
    display:none ;
}